* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.stepper-container-horizontal {
  border: 1px solid lightsalmon;
  border-radius: 3px;
  margin: 40px auto;
  padding: 30px;
  width: 60%;
}

.stepper-container-vertical {
  border: 1px solid lightsalmon;
  border-radius: 3px;
  margin: 40px auto;
  padding: 30px;
  width: 20%;
}

.buttons-container {
  text-align: center;
}

.buttons-container button {
  margin: 0 2rem;
  width: 100px;
  padding: 4px;
  background-color: lightsalmon;
  border: none;
  cursor: pointer;
}
